<div class="d-flex align-items-center">
  <h1>アイデア一覧</h1>
  <div class="ml-auto ideas__linkBox">
    <%= link_to "新規作成", new_idea_path, class: "btn btn-outline-dark" %>
  </div>
</div>
<% if flash[:notice] %>
  <div class="alert alert-danger"><%= flash[:notice] %></div>
<% end %>
<table class="table table-hover ideas__table">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>アイデア名</th>
      <th>カテゴリ</th>
      <th>作成者</th>
      <th>作成日時</th>
      <th>更新日時</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        <td><%= idea.id %></td>
        <td><%= idea.title %></td>
        <td><%= idea.category %></td>
        <td><%= idea.user_name %></td>
        <td><%= idea.created_at.to_s(:datetime_jp) %></td>
        <td><%= idea.updated_at.to_s(:datetime_jp) %></td>
        <td><%= link_to "詳細", idea, class: "btn btn-outline-dark" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @ideas %>